@{
    ViewBag.Title = "PAYROLL NON STAFF";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
<!--===============================================================================================-->

<input type="hidden" id="urlPath" value="@ViewBag.pathParent" />
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(@ViewBag.pathParent/Content/Login/images/tiket.gif);">
                    <span class="login100-form-title-1">
                      @* <image src="@ViewBag.pathParent/Content/Login/images/pamalogo.ico" style="width:40px"></image> TIKETING-APP LOGIN*@
                    </span>
                </div>

                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text"id="UserName" placeholder="Enter username"  name="username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" id="Password" type="password"  name="password" placeholder="Enter password">
                        <span class="focus-input100"></span>
                    </div>

                    <p>
                        <select id="sldomain" class="input100" style="margin-top:20px;color:">
                            <option>PT.PMS</option>
                      
                        </select>
                        <br>
                    </p>
                    <p id="profile" style="text-align:center;">
                        <input style="width:445px;" type="text" id="txtakses" />
                    </p>

                    <div class="container-login100-form-btn" div style="margin-top:30px">
                        <input type="button" class="login100-form-btn" onclick="execlogin()" id="btnlogin" value="LOGIN"/>
                    </div>
                    <p style="margin-top:20px">
                        © APPLICATION DEVELOPMENT PT.PELITA MEKAR SEMESTA
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>





<script>

     $(document).ready(function () {
         ceksession();
     });

     function ceklogin() {
         if ($("#UserName").val() == "") {
             bootbox.alert("Username nya diisi ya..")
         }
         else if ($("#Password").val() == "") {
             bootbox.alert("Kok passwordnya dikosongi?")
         }
         else {
             $.ajax({
                 url: $("#urlPath").val() + "/LOGIN/GetUser",
                 type: "POST",
                 contentType: "application/json",
                 data: JSON.stringify({
                     pnrp: $("#UserName").val(),
                     password: $("#Password").val(),
                 }),
                 success: function (data) {
                     //alert($("#UserName").val());
                     location.reload();
                 }
                

             });
         }
     }

     function cekakses() {
         var ds_akses = new kendo.data.DataSource({
             type: "json",
             transport: {
                 read: {
                     url: $("#urlPath").val() + "/Login/ReadAkses",
                     contentType: "application/json",
                     type: "POST"
                 },
                 parameterMap: function (data, operation) {
                     if (operation == "read") {
                         data.nrp = "@Session["NRP"]";
                             } else if (operation == "create") {
                             }
                             else if (operation == "update") {
                             }
                             return kendo.stringify(data)
                         }
                     },
                     schema: {
                         data: "Data",
                         total: "Total"
                     },
         });


                 $("#txtakses").kendoDropDownList({
                     dataSource: ds_akses,
                     dataTextField: "AKSES_DESC",
                     dataValueField: "AKSES_PID",
                     select: function (e) {
                         var dataItem = this.dataItem(e.item.index());
                     }
                 });
             }


             function ceksession() {
             if ("@Session["NAMA"]" === "") {
                document.getElementById("profile").style.display = "none";
                document.getElementById("btnlogin").textContent = "LOGIN"
            }
            else  {
                document.getElementById("UserName").disabled = "TRUE";

                document.getElementById("Password").disabled = "TRUE"
                document.getElementById("sldomain").disabled = "TRUE"
                document.getElementById("profile").style.visibility = "visible";
                document.getElementById("btnlogin").textContent = "SELECT PROFILE"

                
                cekakses();
               
            }
        }


        function Createaksessession() {
            var id_desc = $("#txtakses").val();
            var desc = $("#txtakses").data("kendoDropDownList").text();

            $.ajax({
                url: $("#urlPath").val() + "/Login/GetAkses",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    id_desc: id_desc,
                    desc: desc,
                }),
                success: function (data) {
                    location.href = $("#urlPath").val() + "/REQUEST/Index";
                }
            });
        }

        function execlogin() {
            if (document.getElementById("btnlogin").textContent == "LOGIN") {
                ceklogin();
            }

            else if (document.getElementById("btnlogin").textContent == "SELECT PROFILE") {
                Createaksessession();
            }
        }

</script>
