<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
       
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><img src="~/Content/img/Logo PMS.gif" width="20px" style="filter:drop-shadow(0 0 0.75rem white);" /></span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg" style="font-size:15px"><b>PAYROLL </b>NON STAFF</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN Messages *@
                @*<li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/Content/img/user.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>*@
                @* END Messages *@
                @* BEGIN Notifications
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">1</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have 1 notifications</li>
            <li>
                <ul class="menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-users text-aqua"></i> 1 new members joined today
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
        </ul>
    </li>
                *@
                @* END Notifications *@
                @* BEGIN Tasks *@
                <li class="dropdown tasks-menu"><a><img src="~/Content/img/Logo PMS.gif" width="25px" style="filter:drop-shadow(0 0 0.75rem white);"/>&nbsp;PT.PELITA MEKAR SEMESTA</a></li>
                <li class="dropdown tasks-menu">
                  
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">1</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Jangan lupa cek masa berlaku tarif borongan</li>
                        <li>
                           
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>
                @* END Tasks *@
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/img/avatar.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">@Session["NAMA"]</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/Content/img/avatar.png" class="img-circle" alt="User Image">

                            <p>
                                @Session["NAMA"] - @Session["DEPT_DESC"]
                                <small>PT. Pelita Mekar Semesta</small>
                            </p>
                        </li>
                        <li class="user-body">
                            <div class="row">
                               
                                <div class="col-xl-1 text-center">
                                    <div style="font-size:13px;" id="date_time"></div>
                                </div>
                               
                            </div>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Logoff", "ACCOUNT")" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@
                @* BEGIN Control Sidebar Toggle Button
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>
</header>
<script>
            window.onload = date_time('date_time');
            function date_time(id) {
                date = new Date;
                year = date.getFullYear();
                month = date.getMonth();
                months = new Array('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember');
                d = date.getDate();
                day = date.getDay();
                days = new Array('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu');
                h = date.getHours();
                if (h < 10) {
                    h = "0" + h;
                }
                m = date.getMinutes();
                if (m < 10) {
                    m = "0" + m;
                }
                s = date.getSeconds();
                if (s < 10) {
                    s = "0" + s;
                }
                result = '' + days[day] + ' ' + d + ' ' + months[month] + ' ' +year + ' ' + h + ':' + m + ':' + s + ' WIB';
                document.getElementById(id).innerHTML = result;
                setTimeout('date_time("' + id + '");', '1000');
                return true;
            }
</script>