@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
<html>
<head>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
       PMS
        @{
            ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
        }


    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="icon" type="image/gif" href="~/Content/img/Logo PMS.gif" />

 
     @Styles.Render("~/Bundles/css")

    <script src="@ViewBag.pathParent/Scripts/jszip.js"></script>
    @Scripts.Render("~/Bundles/js")
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/flot/jquery.flot.js"></script>
    <script src="~/Scripts/flot/jquery.flot.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modernizr")
 
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/kendo/css")


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
            </section>

            <section class="content">
                @RenderBody() 
            </section>
           
        </div>
        <footer class="main-footer">
            <strong>Copyright &copy; 2021 <a href="https://pelitamekarsemesta.com">IT SYSTEM DEVELOPMENT PT.PELITA MEKAR SEMESTA.</a> All Rights Reserved</strong>
       
           
        </footer>
        @Html.Partial("_ControlSidebar")
    </div>
    

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>

    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        document.body.style.zoom = "90%"


    });
</script>