@{
 
    ViewBag.Description = "Hello " + @Session["NAMA"];
}

<div class="row">
    <span class="label label-success" style="width:50px">Master</span>
    <div class="column">
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/masterkaryawan.gif" style="background-size:cover" width="85px" alt="MASTER KARYAWAN">
                <div class="caption">
                    <h4>Master Karyawan</h4>
              
                    <p><a href="@Url.Action("Frm_view_karyawan", "employee")" target="_blank" class="btn btn-primary"  role="button">Buka</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">

        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/tarifborongan.gif" style="background-size:cover" width="135px" alt="BORONGAN">
                <div class="caption">
                    <h4>Tarif Borongan</h4>

                    <p><a href="@Url.Action("indexBorongan", "PAYROLL")" target="_blank" class="btn btn-primary" role="button">Buka</a> </p>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="row">
    <span class="label label-info">Transaction</span>
    <div class="column">
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/finger.gif" style="background-size:cover"   alt="BORONGAN">
                <div class="caption">
                    <h4>Absensi</h4>

                    <p><a href="@Url.Action("INDEX", "CHECKINOUT")" target="_blank" class="btn btn-primary" role="button">Buka</a> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/calculate.gif" style="background-size:cover" width="130px"  alt="BORONGAN">
                <div class="caption">
                    <h4>Kalkulasi Absen</h4>

                    <p><a href="@Url.Action("frm_calculate_daily", "PAYROLL")" target="_blank" class="btn btn-primary" role="button">Buka</a> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="col-sm-2 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/upah.gif" style="background-size:cover" width="130px" alt="BORONGAN">
                <div class="caption">
                    <h4>Gaji Harian/Bulanan</h4>

                    <p><a href="@Url.Action("INDEX", "PAYROLL")" target="_blank" class="btn btn-primary" role="button">Buka</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <span class="label label-danger">Report</span>
    <div class="column">

        <div class="col-sm-2 col-md-3">
            <div class="thumbnail">

                <div class="caption">
                    <a href="@Url.Action("rptSLIP", "REPORT")" target="_blank"><h5><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;&nbsp; Kehadiran</h5></a>


                </div>
            </div>
        </div>
    </div>
    <div class="column">

        <div class="col-sm-2 col-md-3">
            <div class="thumbnail">

                <div class="caption">
                    <a href="@Url.Action("rptBORONGAN", "REPORT")" target="_blank"><h5><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;&nbsp;Laporan Borongan</h5></a>


                </div>
            </div>
        </div>
    </div>
    <div class="column">

        <div class="col-sm-2 col-md-3">
            <div class="thumbnail">

                <div class="caption">
                    <a href="@Url.Action("rptBORONGANHRD", "REPORT")" target="_blank"><h5><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;&nbsp;Laporan Borongan HRD</h5></a>


                </div>
            </div>
        </div>
    </div>
    <div class="column">

        <div class="col-sm-2 col-md-3">
            <div class="thumbnail">

                <div class="caption">
                    <a href="@Url.Action("rptgajiborongan", "REPORT")" target="_blank"><h5><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;&nbsp;Laporan Gaji Karyawan Borongan</h5></a>


                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>